/**
 * new clearfix
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
 */
.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */

body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16px;
    background: #eee;
    padding: 20px;
}

.hidden {
    display: none;
}

.menu {
    width: 260px;
    border: 2px outset #999;
    padding: 10px;
    background: #fff;
    float: left;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu li, .menu li a {
    line-height: 24px;
}

.menu ul ul {
    margin-left: 24px;
}

.menu li a.depth0 {
    font-weight: bold;
}

.menu li a {
    display: inline;
    /*margin-left:24px;*/
    text-decoration: none;
    padding: 0 3px;
    color: #000;
}

.menu li a.open {
    border-left: 3px solid #eee;;
}

.menu li a.haschildren:after {
    content: " \203A";
    font-weight: normal;
    text-decoration: none !important;
    color: #ccc;
}

.menu li a.active {
    background: #fee;
}

.menu li a:hover {
    background: #eee;
}

.menu .extract {
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: left;
}

.menu .collapsed {
    background: url('expand.png') center no-repeat;
}

.menu .extracted {
    background: url('collapse.png') center no-repeat;
}

.content {
    margin-left: 300px;
    border: 2px outset #999;
    width: 500px;
    padding: 20px;
    background: #fff;
}

.content .breadcrumbs {
    font-size: 12px;
}

.content .breadcrumbs a {
    text-decoration: none;
}
